extends layout

block content
    nav
        .heading
            img(src='images/profile.jpg' alt='profile' width='240px')
            a(href="/")
                h1 Jeremy Howard
            h3 <a href='mailto:jeremyhoward14@gmail.com'>jeremyhoward14@gmail.com</a>
            p Hi! Welcome to my portfolio page. My name is Jeremy and I'm a final year Computing and Software Systems student at the University of Melbourne. 
                | Here you can find some demos of projects I've worked on. 
                | Hover over them to find out more information about the project, as well as the stack used. 
            p I also developed this website using Express.js, HTML/Pug and CSS, and am hosting it on Heroku.
        ul
        li
            a(href='/') Home
        li
            a(href="/about") About
        li
            a(href="https://www.linkedin.com/in/jeremy-h-350b70102/") LinkedIn
        li
            a(href='https://github.com/jeremyhoward14') GitHub
    .aboutInfo
        h2 Education and Work Experience
        h3 Education
        p Bachelor of Science (Computing and Software Systems)
        b The University of Melbourne
        p Anticipated graduation date: December 2020
        h3 Work Experience
        b Student IT Intern
        p Jan 2019 - present
        p The University of Melbourne
        b Fitness Services Instructor
        p The University of Melbourne
        p Feb 2019 - present
        b Administrative Clerk
        p Opening the Doors Foundation
        p Dec 2018 - Feb 2019
        h2 Extracurricular Activities &amp; Projects
        ul
            li Accenture Technology Bootcamp 2020 (2nd Place)
            ul
                li Developed a React.js Web Application in a team of 7 students to create <a href='https://docs.microsoft.com/en-us/adaptive-cards/'>adaptive card</a> templates for non-technical users. Templates can then be used by an HR chat-bot on Microsoft Teams. 
            li 180 Degrees Consulting &amp; Boston Consulting Group 2020 Case Competition
            ul    
                li Researched and presented strategies for the creation of an in-home care service for migrants and refugees in Melbourne.
            li Melbourne University Peer Mentor (2020)
            ul
                li Mentored group of 8 new students in the Bachelor of Science on adapting to University life and study.
            li Tin Alley Beta (TAB) Student Representative
            ul
                li Responsible for promoting TAB to student communities in Victoria. TAB is an organisation that promotes and advises technology start-ups in Victoria by offering internships with them to University students. 
        h2 Programming Languages
        ul
            li Profficient in:
            ul
                li JavaScript (Node.js, Express.js)
                li Java
                li C
                li Python
                li HTML/CSS
            li Familiar:
            ul
                li SQL
                li C#
        h2 Skills and Technologies
        ul
            li IDEs: VS Code, Eclipse, IntelliJ, PyCharm
            li Databases: MongoDB Atlas, MySQL Workbench 
            li Version Control: Git
            li Collaboration: MS Teams, Slack, Trello, Confluence
            li Other Software: Microsoft Office Suite, Ableton Live
            