extends layout

block content
    nav#navbar
        .heading
            img(src='images/profile.jpg' alt='profile' width='240px')
            a(href="/")
                h1 Jeremy Howard
            h3 <a href='mailto:jeremyhoward14@gmail.com'>jeremyhoward14@gmail.com</a>
            .bio
                p Hi! Welcome to my portfolio page. My name is Jeremy and I'm a final year Computing and Software Systems student at the University of Melbourne. 
                    | Here you can find some demos of projects I've worked on. 
                p Hover over the videos (or tap them on mobile), click on the project name and find out more.
                p I also developed this website using Express.js, HTML/Pug and CSS, and am hosting it on Heroku.
        ul
            li
                a(href='/') Home
            li
                a(href="/about") About
            li
                a(href="https://www.linkedin.com/in/jeremy-h-350b70102/" target='_blank') LinkedIn
            li
                a(href='https://github.com/jeremyhoward14' target='_blank') GitHub
    .appDescription#wrapper
        h1 Zach McCarthy Art
        a#siteLink(href="https://zm-art.herokuapp.com") https://zm-art.herokuapp.com
        h2 App Description
        h3 Context:
        p A friend of mine is a keen artist. He recently received his first commissioned work, and was interesting in selling original artworks he had painted to the public. 
        p I saw this as a great opportunity to take on my first solo web project. 
        p I also really wanted to take this chance to learn more about designing responsive websites on my own (see the Mobile demo where the viewport is narrow).
        h3 Process and Learning Outcomes:
        p I managed to develop the website in about a week using Express.js and Git, hosted on Heroku. 
        p I learned a lot about CSS and front-end development as the majority of my background knowledge was in back-end programming.
        h3 Result:
        p Zach is now able to generate income from his passion by selling his work online, and promote it with a professional website.
        h3 Future Goals:
        p I'm currently setting up an Admin portal for the site with AWS S3 to allow Zach to edit the content on his website like a blog.
        p This will allow him to upload and delete photos, change text descriptions, and post new artworks for sale (instead of requiring me to perform these tasks).
        h2 Stack
        p Front End: Pug (HTML), CSS
        p Back End: Express.js
        h2 Demos
        h3 Web
        video(width='100%', height='auto', muted='', controls='')
            source(src='/images/zachp1.mp4', type='video/mp4')
        h3 Mobile
        video(width='100%', height='auto', muted='', controls='')
            source(src='/images/zachp2.mp4', type='video/mp4')
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    script
        include ../public/javascripts/navbar.js