extends layout

block content
    nav#navbar
        .heading
            img(src='images/profile.jpg' alt='profile' width='240px')
            a(href="/")
                h1 Jeremy Howard
            h3 <a href='mailto:jeremyhoward14@gmail.com'>jeremyhoward14@gmail.com</a>
            .bio
                p Hi! Welcome to my portfolio page. My name is Jeremy and I'm a final year Computing and Software Systems student at the University of Melbourne. 
                    | Here you can find some demos of projects I've worked on. 
                p Hover over the videos (or tap them on mobile), click on the project name and find out more. 
                p I also developed this website using Express.js, HTML/Pug and CSS, and am hosting it on Heroku.
        ul
            li
                a(href='/') Home
            li
                a(href="/about") About
            li
                a(href="https://www.linkedin.com/in/jeremy-h-350b70102/" target='_blank') LinkedIn
            li
                a(href='https://github.com/jeremyhoward14' target='_blank') GitHub
    .appDescription#wrapper
        h1 Clubify
        a#siteLink(href="https://witclubify.herokuapp.com") https://witclubify.herokuapp.com
        h2 App Description
        h3 Context:
        p Clubify aims to connect music fans to venues they will love. Using personalised Spotify listening data and Google Maps data, users are able to find venues near them that play their kind of music, within seconds. I developed this app with 3 other students in 2020, for a semester long project in one of our final year subjects. We thoroughly enjoyed the project and received a high distinction for our efforts.
        h3 Process and Learning Outcomes:
        p I implemented the back-end functionality of our web app. I greatly increased my proficiency of using technologies such as:
            ol
                li Node.js + Express.js
                li MongoDB and Mongoose
                li Web APIs: Spotify API and Google Maps API
        h3 Result:
        p We had the app promoted on social media and received fantastic feedback, growing from 0 to 2700 users in 3 days.
        p We received an overall mark of 89% for the project.
        h3 Future Goals:
        ol
            li Cost Reduction:
                ul
                    li Our app relies heavily on the Google Maps API to generate club and bar suggestions based on a user's music taste. 
                    li We would like to move to a local database containing this information to reduce reliability and costs associated with using the Google Maps API.
            li Database Migration:
                ul
                    li We plan to move from MongoDB Atlas to AWS DynamoDB or an Azure database to reduce the cost and increase the scalability of the app's data storage.
            li Local Accounts and Increased Streaming Services:
                ul 
                    li We would like to create our own account system using a NoSQL database that users can sign up for and link to streaming accounts like Spotify, Apple Music and Soundcloud.
                    li This will allow for a social media and sharing platform where users can plan their nights out together and compare music tastes.
            li Venue Partnerships:
                ul
                    li We would like to develop partnerships with different clubs and bars to allow them to promote themselves to users with specific music tastes
                    li A presence from these venues on Clubify would also increase the use cases of the app, and give users the best experience when planning a night out.
        h2 Stack
        p Front End: Pug (HTML), CSS
        p Database: MongoDB Atlas
        p Back End: Express.js
        h2 Demo
        video(width='100%', height='auto', muted='', controls='')
            source(src='/images/clubifyCropNoWatermark.mp4', type='video/mp4')
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    script
        include ../public/javascripts/navbar.js