extends layout

block content
  .heading
    h1 Jeremy Howard
    h2
      |
      a(href='#') About 
      a(href='#') Contact
    p Hover over a video to find out more about the project.
  .container
    video(width='100%', height='auto', autoplay='', loop='', muted='')
      source(src='/images/clubifyCropNoWatermark.mp4', type='video/mp4')
    .overlay
      .overlayText
        h2 Clubify
        p Clubify aims to connect music fans to venues they will love. Using Spotify listening data and Google Maps data, users are able to find venues near them that play their kind of music, within seconds.
        h3 Stack:
        p Front End: Pug (HTML), CSS
        p Database: MongoDB Atlas
        p Back End: Express.js
