extends layout

block content
  nav#navbar
    .heading
        img(src='images/profile.jpg' alt='profile' width='240px')
        a(href="/")
            h1 Jeremy Howard
        h3 <a href='mailto:jeremyhoward14@gmail.com'>jeremyhoward14@gmail.com</a>
        .bio
          p Hi! Welcome to my portfolio page. My name is Jeremy and I'm a final year Computing and Software Systems student at the University of Melbourne. 
              | Here you can find some demos of projects I've worked on. 
          p Hover over the videos (or tap them on mobile), click on the project name and find out more. 
          p I also developed this website using Express.js, HTML/Pug and CSS, and am hosting it on Heroku.
    ul
      li
          a(href='/') Home
      li
          a(href="/about") About
      li
          a(href="https://www.linkedin.com/in/jeremy-h-350b70102/" target='_blank') LinkedIn
      li
          a(href='https://github.com/jeremyhoward14' target='_blank') GitHub
  .containerWrapper#wrapper
    div
      h1(style='text-align: center;') Projects
      p(style='text-align: center;') Hover over a video to find out more information about a project.
    h2 Clubify
    .container
      video(width='100%', height='auto', autoplay='', loop='', muted='')
        source(src='/images/clubifyCropNoWatermark.mp4', type='video/mp4')
      .overlay
        .overlayText
          a#titleButton(href='/clubify') Clubify
          br
          br
          a(href="https://witclubify.herokuapp.com") https://witclubify.herokuapp.com
          p#overlayDescription Clubify aims to connect music fans to venues they will love. Using Spotify listening data and Google Maps data, users are able to find venues near them that play their kind of music, within seconds.
    br
    h2 ZM Art
    .container
      video(width='100%', height='auto', autoplay='', loop='', muted='')
        source(src='/images/zachp1.mp4', type='video/mp4')
      .overlay
        .overlayText
          a#titleButton(href='/art') ZM Art
          br
          br
          a(href="https://zm-art.herokuapp.com") https://zm-art.herokuapp.com
          p#overlayDescription I developed a website to increase the marketing and outreach of my friend's art and allow him to sell his artworks online.
    br
    h2 Student IT
    .container  
      video(width='100%', height='auto', autoplay='', loop='', muted='')
        source(src='/images/sit.mp4', type='video/mp4')
      .overlay
        .overlayText
          a#titleButton(href='/student_it') Student IT
          br
          br
          a(href="https://studentit.unimelb.edu.au") https://studentit.unimelb.edu.au
          p#overlayDescription I co-develop this website in my job as a Student IT Intern at the University of Melbourne.
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  script
    include ../public/javascripts/navbar.js
