doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
  block content
    nav
      .heading
          img(src='images/profile.jpg' alt='profile' width='240px')
          a(href="/")
              h1 Jeremy Howard
          h3 <a href='mailto:jeremyhoward14@gmail.com'>jeremyhoward14@gmail.com</a>
          p Hi! Welcome to my portfolio page. My name is Jeremy and I'm a final year Computing and Software Systems student at the University of Melbourne. 
              | Here you can find some demos of projects I've worked on. 
              | Hover over them to find out more information about the project, as well as the stack used. 
          p I also developed this website using Express.js, HTML/Pug and CSS, and am hosting it on Heroku.
      ul
        li
            a(href='/') Home
        li
            a(href="/about") About
        li
            a(href="https://www.linkedin.com/in/jeremy-h-350b70102/") LinkedIn
        li
            a(href='https://github.com/jeremyhoward14') GitHub
