extends layout

block content
  .wrapper
    .navBox
      h1 Jeremy Howard
      h2 About
      h2 Contact
    .clubify
      //- h2 Clubify
      video(src="images/clubifyVideo.mp4")
    .project2
      h2 Student IT Website
    .project3
      h2 ShadowBounce
    .art
      h2 Art Portfolio Website
